@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
  background-color: aliceblue;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  /* border: solid 1px black; */
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.settings {
  margin: 0;
  padding: 25px;
  border: solid 1px grey;
  box-shadow: 4px 2px 2px #443a3a, -5px 0 0.4em #443a3a;
  height: 510px;
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.settings h2 {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.settings p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 1.2rem;
}
.grid-container {
  margin: 0;
  padding: 0;
  background-color: #ddeaff30;
  box-shadow: 5px 5px 5px #333, -5px 0 0.4em #333;
  height: 510px;
  flex-basis: 510px;
  display: flex;
  flex-wrap: wrap;
}

.grid-element {
  margin: 0;
  padding: 0;
  border-left: solid 1px;
  border-top: solid 1px;
}
.grid-container .inherit {
  background-color: inherit;
}
.grid-container .black {
  background-color: black;
}

.reset {
  display: block;
  padding: 5px;
  width: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  border: 1px solid;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.color-text {
  padding: 15px 0;
  padding-top: 20px;
}

.colors-container {
  display: flex;
  gap: 15px;
}

.colors-container button {
  padding: 5px;
  width: 80px;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.custom-color-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.custom-color-container label {
  font-weight: 600;
  font-size: 1.375rem;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

footer {
  margin: 0;
  margin-top: auto;
  padding: 0;
}

footer p {
  margin: 10px 0;
}

/********************* COLOR picker **********************/

#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-color: #77ffcf;
  height: 60px;
  width: 80px;
}
#color-picker::-webkit-color-swatch {
  border-radius: 100%;
  border: 1px solid;
  box-shadow: 1px 1px 1px #333;
}

#color-picker::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 1px 1px 1px #333;
}

/************************* RANGE SLIDER **************************/
#range-slider {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
  background-color: aliceblue;
}
#range-slider:focus {
  outline: none;
}
#range-slider::-webkit-slider-runnable-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #333;
  border-radius: 5px;
  border: 1px solid #000000;
}
#range-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: aliceblue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
#range-slider:focus::-webkit-slider-runnable-track {
  background: #333;
}
#range-slider::-moz-range-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #333;
  border-radius: 5px;
  border: 1px solid #000000;
}
#range-slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: aliceblue;
  cursor: pointer;
}
#range-slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#range-slider::-ms-fill-lower {
  background: #333;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#range-slider::-ms-fill-upper {
  background: #333;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#range-slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: aliceblue;
  cursor: pointer;
}
#range-slider:focus::-ms-fill-lower {
  background: #333;
}
#range-slider:focus::-ms-fill-upper {
  background: #333;
}
